
.m-rating {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-secondary;
  text-align: center;

  &__stars {
    margin-bottom: $spacing-primary;

    [class^="a-icon-"], [class*=" a-icon-"] {
      padding: $spacing-secondary;
    }
  }

  &__by {
    font-size: 1rem;
  }
}
