

.btn {
  @include font-size($font-size-primary);
  // @include border-radius(2px);
  background: $colour-grey-300;
  border: 1px solid rgba(255, 255, 255, .0);
  color: $colour-black-text;
  display: inline-block;
  font-weight: $font-bold;
  margin: $spacing-secondary 0;
  min-width: 88px;
  overflow: hidden;
  padding: $spacing-secondary $spacing-primary;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:hover,
  &:focus {
    outline: none;
  }

  &:active {
    &:after { background: rgba(0, 0, 0, .12); }
  }

  &:after {
    // @include transition(background, .5s);
    background: rgba(0, 0, 0, .0);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

  }


  // ------------------------------------------------------------------------ //
  // Colours
  &--c {
    &--accent {
      // background:  $colour-light-blue-a700;
      // color: $colour-white-text;
    }
  }
  // Colours
  // ------------------------------------------------------------------------ //

  &--full-width { width: 100%; }

  &--flat {
    background: none;

    &:focus { background: $colour-grey-300; }

    &:active {
      &:after { background: rgba(0, 0, 0, .12); }
    }
  }

  &--raised {
    // @include box-shadow(0, 2px, 7px, -2px, rgba(0, 0, 0, .8));

    &:active {
      // @include box-shadow(0, 4px, 7px, -2px, rgba(0, 0, 0, .8));
    }
  }

  &[disabled],
  &[disabled='disabled'] {
    background: rgba(0, 0, 0, .12);
    color: $colour-black-disabled;
  }

  & + & { margin-left: $spacing-primary; }

  .flt--r & {
    &:last-child { margin-right: $spacing-secondary; }
  }

}
