

.google-map {
  // @include calc(height, '100vh - 52px', 90%);
  position: relative;
  width: 100%;


  // ------------------------------------------------- //
  &__btn {
    bottom: $spacing-secondary;
    position: absolute;
    right: $spacing-secondary;

    &:disabled { opacity: .4; }
  }

  &__helper-text {
    @include font-size($font-size-secondary);
    background: rgba(0, 0, 0, .6);
    bottom: 34px;
    color: $colour-white;
    left: 0;
    padding: $spacing-quinary;
    position: absolute;
    z-index: 9;
  }
}
