
.icon-close:before {
  content: "\e5cd";
}
.icon-accessibility:before {
  content: "\e84e";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-adjust:before {
  content: "\e39e";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-details:before {
  content: "\e3c8";
}
.icon-done:before {
  content: "\e876";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-star:before {
  content: "\e838";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lock:before {
  content: "\e897";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-list:before {
  content: "\e896";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-map:before {
  content: "\e55b";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-pets:before {
  content: "\e91d";
}
.icon-phonelink_lock:before {
  content: "\e0dc";
}
.icon-playlist_add_check:before {
  content: "\e065";
}
.icon-refresh:before {
  content: "\e5d5";
}
.icon-warning:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-send:before {
  content: "\e163";
}
.icon-share:before {
  content: "\e80d";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-tune:before {
  content: "\e429";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

