
::-webkit-input-placeholder {
  color: $colour-black-secondary-text;
}

:-moz-placeholder {
  color: $colour-black-secondary-text;
}

::-moz-placeholder {
  color: $colour-black-secondary-text;
}

:-ms-input-placeholder {
  color: $colour-black-secondary-text;
}


.input {
  // @include transition(border-color, .5);
  @include font-size($font-size-primary);
  background: $colour-transparent;
  border: 0;
  border-bottom: 1px solid $colour-black-dividers;
  display: block;
  font-family: $font-main;
  margin-bottom: $spacing-primary;
  outline: none;
  padding: $spacing-primary 0;
  width: 100%;

  &:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px $colour-grey-50 inset; }


  // ------------------------------------------------------------------------ //
  // Validation
  &.ng-valid.ng-dirty {
    // border-bottom-color: $colour-green-1000;

    // &:focus { border-bottom-color: $colour-teal-500; }
  }

  &.ng-invalid.ng-dirty {
    // border-bottom-color: $colour-red-600;
    // color: $colour-red-600;
  }


}
