
.snackbar {
  @extend %clearfix;
  // @include transition(all, .5);
  background: $colour-grey-900;
  bottom: -60px;
  // color: $colour-white-text;
  padding: $spacing-senary;
  position: fixed;
  width: 100%;
  z-index: 99;

  &--active { bottom: 0; }

  &__msg {
    display: inline-block;
    padding: $spacing-secondary $spacing-tertiary;
  }

  &__action {
    display: inline-block;
    float: right;
    padding: $spacing-secondary $spacing-tertiary;
    text-transform: uppercase;
  }

}
