@import "../../../styles.scss";


footer {
  background: $colour-green-primary;
  padding: $spacing-primary;

  @include media(lap, min) {
    display: flex;
    justify-content: space-between;
  }

  nav {
    text-align: right;
  }

  ul {
    margin: 0;

    li {
      display: inline-block;
    }

    a {
      color: $colour-white-text;
      display: inline-block;
      padding: $spacing-primary;
    }
  }

  .copy {
    color: $colour-white-text;
    display: inline-block;
    padding: $spacing-primary;
  }
}
