@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fasp6l');
  src:  url('../fonts/icomoon.eot?fasp6l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fasp6l') format('truetype'),
    url('../fonts/icomoon.woff?fasp6l') format('woff'),
    url('../fonts/icomoon.svg?fasp6l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
