
.bgc {
  // &--grey-500 { background: $colour-grey-500; }
  // &--blue-500 {
  //   background: $colour-blue-500;
  //   color: $colour-white-200-text;
  // }
}


.tc {
  // &--gold { color: $colour-amber-600; }
  // &--white-200 { color: $colour-white-200-text; }
  // &--accent { color: $colour-green-a700; }
  // &--accent--secondary { color: $colour-light-blue-a700; }
  // &--secondary { color: $colour-black-secondary-text; }
  // &--warn { color: $colour-red-600; }
}
