
$screen-size-mobile: 426px !default;
$screen-size-lap: 840px !default;
$screen-size-desktop: 1200px !default;
$screen-size-wide: 1900px !default;


$font-size-primary: 1.6 !default;
$font-size-micro: 1.2 !default;


$font-bold: 700 !default;
$font-thin: 300 !default;
$font-normal: 400 !default;

$colour-black: #000;
$colour-black-text:  rgba(0,0,0,0.87);
$colour-black-secondary-text: rgba(0,0,0,0.54);
$colour-white-text: #FFF !default;
$colour-white-secondary-text: rgba(255, 255, 255, 0.7) !default;
$colour-green-primary: #0F9D58 !default;


$spacing-primary: 8px !default; // 8
$spacing-secondary: ($spacing-primary * 2) !default; // 16
$spacing-tertiary: ($spacing-secondary * 2) !default; // 32
$spacing-quaternary: ($spacing-primary / 2) !default; // 4
$spacing-quinary: ($spacing-quaternary / 2) !default; // 2
$spacing-senary: 50px !default;
$spacing-septenary: 20px !default;
$spacing-octonary: 11px !default;
$spacing-nonary: 40px !default;
// $spacing-denary:










// -------------------------------------------------------------------------- //
//                             Font
// -------------------------------------------------------------------------- //

$font-main: 'Sarabun', sans-serif !default;

$font-bold: 500 !default;
$font-thin: 400 !default;
$font-normal: 400 !default;

$font-size-giga: 8.5 !default;
$font-size-mega: 6 !default;
$font-size-kilo: 4.8 !default;

$font-size-h1: 9 !default;
$font-size-h2: 7.5 !default;
$font-size-h3: 5.5 !default;
$font-size-h4: 4 !default;
$font-size-h5: 3 !default;
$font-size-h6: 2.5 !default;

$font-size-primary: 2 !default;
$font-size-secondary: 1.2 !default;
$font-size-tertiary: 1.6 !default;


$font-size-icon: 2 !default;
$font-size-icon-secondary: 2.5 !default;

$font-size-centi: 1.8 !default;
$font-size-milli: 1.4 !default;
$font-size-micro: 1.2 !default;


$line-height: 1.2 !default;


// -------------------------------------------------------------------------- //
//                             Spacing
// -------------------------------------------------------------------------- //

$spacing-primary: 8px !default;
$spacing-secondary: 16px !default;
$spacing-tertiary: 24px !default;
$spacing-quaternary: 32px !default;
$spacing-quinary: 4px !default;
$spacing-senary: 2px !default;
$spacing-septenary: 50px !default;
$spacing-octonary: 20px !default;
$spacing-nonary: 11px !default;
$spacing-denary: 40px !default;



// -------------------------------------------------------------------------- //
//                             Grid
// -------------------------------------------------------------------------- //

$screen-size-mobile: 426px !default;
$screen-size-lap: 840px !default;
$screen-size-desktop: 1200px !default;
$screen-size-wide: 1900px !default;



$columns: 12 !default;
$row-primary: $screen-size-wide !default;
$row-secondary: $screen-size-lap !default;
$row-tertiary: $screen-size-desktop !default;



// -------------------------------------------------------------------------- //
//                             Overwrites
// -------------------------------------------------------------------------- //

$imp: !important !default;



// Branding colours
$colour-transparent: rgba(255, 255, 255, .0);


// Black colour
$colour-black: #000;
$colour-black-text: rgba(0,0,0,0.87);
$colour-black-secondary-text: gba(0,0,0,0.54);
$colour-black-200-text: rgba(0,0,0,0.85) !default;
$colour-black-icons: rgba(0,0,0,0.54);
$colour-black-disabled: rgba(0,0,0,0.26);
$colour-black-hint-text: rgba(0,0,0,0.26);
$colour-black-dividers: rgba(0,0,0,0.12);


// white colour
$colour-white: #fff;
$colour-white-text: #fff;
$colour-white-secondary-text: rgba(255,255,255,0.7);
$colour-white-200-text: rgba(255,255,255,0.85) !default;
$colour-white-icons: #fff;
$colour-white-disabled: rgba(255,255,255,0.3);
$colour-white-hint-text: rgba(255,255,255,0.3);
$colour-white-dividers: rgba(255,255,255,0.12);



// Grey colour
$colour-grey-50: #fafafa;
$colour-grey-100: #f5f5f5;
$colour-grey-200: #eeeeee;
$colour-grey-300: #e0e0e0;
$colour-grey-400: #bdbdbd;
$colour-grey-500: #9e9e9e;
$colour-grey-600: #757577;
$colour-grey-700: #616161;
$colour-grey-800: #424242;
$colour-grey-900: #212121;



// Brown colour
$colour-brown-50: #efebe;
$colour-brown-100: #d7ccc;
$colour-brown-200: #bcaaa;
$colour-brown-300: #a1887;
$colour-brown-400: #8d6e6e;
$colour-brown-500: #795545;
$colour-brown-600: #6d4c44;
$colour-brown-700: #5d4033;
$colour-brown-800: #4e3422;
$colour-brown-900: #3e2723;



// Blue colour
$colour-blue-50: #e3f2fd;
$colour-blue-100: #bbdefb;
$colour-blue-200: #90caf9;
$colour-blue-300: #64b5f6;
$colour-blue-400: #42a5f5;
$colour-blue-500: #2196f3;
$colour-blue-600: #1e88e5;
$colour-blue-700: #1976d2;
$colour-blue-800: #1565c0;
$colour-blue-900: #0d47a1;
$colour-blue-a100: #82b1ff;
$colour-blue-a200: #448aff;
$colour-blue-a400: #2979ff;
$colour-blue-a700: #2962ff;





// pink colour
$colour-pink-50: #fce4ec;
$colour-pink-100: #f8bbd0;
$colour-pink-200: #f48fb1;
$colour-pink-300: #f06292;
$colour-pink-400: #ec407a;
$colour-pink-500: #e91e63;
$colour-pink-600: #d81b60;
$colour-pink-700: #c2185b;
$colour-pink-800: #ad1457;
$colour-pink-900: #880e4f;
$colour-pink-a100: #ff80ab;
$colour-pink-a200: #ff4081;
$colour-pink-a400: #f50057;
$colour-pink-a700: #c51162;



// purple colour
$colour-purple-50: #f3e5f5;
$colour-purple-100: #e1bee7;
$colour-purple-200: #ce93d8;
$colour-purple-300: #ba68c8;
$colour-purple-400: #ab47bc;
$colour-purple-500: #9c27b0;
$colour-purple-600: #8e24aa;
$colour-purple-700: #7b1fa2;
$colour-purple-800: #6a1b9a;
$colour-purple-900: #4a148c;
$colour-purple-a100: #ea80fc;
$colour-purple-a200: #e040fb;
$colour-purple-a400: #d500f9;
$colour-purple-a700: #aa00ff;



// deep-purple colour
$colour-deep-purple-50: #ede7f6;
$colour-deep-purple-100: #d1c4e9;
$colour-deep-purple-200: #b39ddb;
$colour-deep-purple-300: #9575cd;
$colour-deep-purple-400: #7e57c2;
$colour-deep-purple-500: #673ab7;
$colour-deep-purple-600: #5e35b1;
$colour-deep-purple-700: #512da8;
$colour-deep-purple-800: #4527a0;
$colour-deep-purple-900: #311b92;
$colour-deep-purple-a100: #b388ff;
$colour-deep-purple-a200: #7c4dff;
$colour-deep-purple-a400: #651fff;
$colour-deep-purple-a700: #6200ea;



// indigo colour
$colour-indigo-50: #e8eaf6;
$colour-indigo-100: #c5cae9;
$colour-indigo-200: #9fa8da;
$colour-indigo-300: #7986cb;
$colour-indigo-400: #5c6bc0;
$colour-indigo-500: #3f51b5;
$colour-indigo-600: #3949ab;
$colour-indigo-700: #303f9f;
$colour-indigo-800: #283593;
$colour-indigo-900: #1a237e;
$colour-indigo-a100: #8c9eff;
$colour-indigo-a200: #536dfe;
$colour-indigo-a400: #3d5afe;
$colour-indigo-a700: #304ffe;

